@model IEnumerable<BLL.DTO.PaisEstadoCidade.ListarPaisEstadoCidadeDTO>
@{
    Layout = "_LayoutAdmin";
}
@{
    ViewData["Title"] = "Pais | Estado | Cidade";
}

<div>
    <h2>Pais | Estado | Cidade</h2><br />
    <a class="btn btn-primary" asp-action="" asp-controller="">Cadastrar Pais</a>
    <a class="btn btn-primary" style="margin-left:15px;" asp-action="" asp-controller="">Cadastrar Estado</a>
    <a class="btn btn-primary" style="margin-left:15px;" asp-action="" asp-controller="">Cadastrar Cidade</a>
</div>
<hr />

<script>
    $(document).ready(function () {
        $('#cep').DataTable({
            //"info" : false,
            "language": {
                "lengthMenu": "Mostrando _MENU_ registros por página",
                "zeroRecords": "Desculpe, nada encontrado",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Nenhum registro disponível",
                "search": "Buscar:",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Último",
                    "next": "próximo",
                    "previous": "Anterior"
                }
            }
        });
    });
</script>

<table id="cep" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Pais</th>
            <th>Estado</th>
            <th>Cidade</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cep in Model)
        {
            <tr>
                <td>@cep.Cidade</td>
                <td>@cep.Estado</td>
                <td>@cep.Pais</td>
                <td>Produção</td>
            </tr>
        }
    </tbody>
</table>